/**
 * Colors
 */
/**
 * Define font related variables here
 */
/**
 * Transition to use
 */
html {
  box-sizing: border-box;
  overflow-x: hidden; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Manrope";
  font-weight: 200;
  margin: 0;
  padding: 0;
  color: #0c303c; }

h1, .h1 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 68px;
  line-height: 80px;
  font-family: "Manrope";
  font-weight: 300; }
  @media (max-width: 991px) {
    h1, .h1 {
      font-size: 58px;
      line-height: 70px; } }
  @media (max-width: 479px) {
    h1, .h1 {
      font-size: 40px;
      line-height: 52px; } }

h2, .h2 {
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #00bdc1;
  font-size: 48px;
  line-height: 60px;
  font-family: "Manrope";
  font-weight: 300; }
  @media (max-width: 767px) {
    h2, .h2 {
      font-size: 36px;
      line-height: 48px; } }
  @media (max-width: 479px) {
    h2, .h2 {
      font-size: 30px;
      line-height: 42px; } }

h3, .h3 {
  margin-top: 0;
  text-transform: uppercase;
  color: #00bdc1;
  font-size: 30px;
  line-height: 38px;
  font-family: "Manrope";
  font-weight: normal; }

h4, .h4 {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #00bdc1;
  font-size: 24px;
  line-height: 34px;
  font-family: "Manrope";
  font-weight: normal; }
  @media (max-width: 991px) {
    h4, .h4 {
      font-size: 20px;
      line-height: 30px; } }

h5, .h5 {
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #00bdc1;
  font-size: 20px;
  line-height: 30px;
  font-family: "Manrope";
  font-weight: normal; }

h6, .h6 {
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #00bdc1;
  font-size: 18px;
  line-height: 28px;
  font-family: "Manrope";
  font-weight: normal; }

p {
  font-size: 20px;
  line-height: 30px; }
  @media (max-width: 575px) {
    p {
      font-size: 18px;
      line-height: 1.75rem; } }
  p > a {
    color: #00bdc1;
    font-weight: 300; }
    p > a:hover {
      border-bottom: 1px solid #00bdc1; }

#header .large-dvc-search {
  position: absolute;
  right: 25px; }
  @media (max-width: 1439px) {
    #header .large-dvc-search {
      top: 10px;
      right: auto;
      left: calc(50% - 124px); } }
#header form {
  background-color: #f0f1f1;
  border-radius: 10px;
  border-width: 0;
  min-width: 248px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 15px; }
  #header form > div {
    border: 0;
    padding: 0; }
  #header form input, #header form button {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0; }
  #header form input {
    font-size: 12px;
    font-family: "Manrope";
    min-width: 90%;
    -webkit-appearance: textfield; }
    #header form input:focus {
      outline: none; }
  #header form button {
    height: 13px; }
  #header form .fas {
    color: #30a5a7; }

.not-found form {
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  background-color: #f9fafa;
  max-width: 320px;
  margin: 35px auto 0; }
  .not-found form input {
    width: 100%;
    padding: 10px 22px;
    border: 0;
    background-color: transparent;
    font-size: 1rem;
    font-family: "Manrope";
    font-weight: 300; }
    .not-found form input:focus {
      outline: none; }
  .not-found form button {
    display: none; }

.visitior-questionnaire_wrapper.gform_wrapper.gravity-theme .gform_fields {
  grid-template-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 50px; }
  @media (max-width: 767px) {
    .visitior-questionnaire_wrapper.gform_wrapper.gravity-theme .gform_fields {
      grid-row-gap: 40px; } }
.visitior-questionnaire_wrapper.gform_wrapper.gravity-theme .gfield_label {
  margin-top: 0;
  color: #00bdc1;
  font-size: 18px;
  line-height: 26px;
  font-family: "Manrope";
  font-weight: bold;
  margin-bottom: 20px;
  display: block; }
.visitior-questionnaire_wrapper.gform_wrapper.gravity-theme .gfield_radio label,
.visitior-questionnaire_wrapper.gform_wrapper.gravity-theme .gfield_description,
.visitior-questionnaire_wrapper.gform_wrapper.gravity-theme .gfield_consent_label {
  font-size: 20px;
  line-height: 30px;
  color: #0c303c; }
.visitior-questionnaire_wrapper.gform_wrapper.gravity-theme .gfield-choice-input {
  margin-left: 0;
  margin-right: 10px; }
.visitior-questionnaire_wrapper.gform_wrapper.gravity-theme input[type='text'],
.visitior-questionnaire_wrapper.gform_wrapper.gravity-theme textarea, .visitior-questionnaire_wrapper.gform_wrapper.gravity-theme select {
  padding: 12px !important;
  border: 1px solid #0c303c;
  outline: none;
  transition: all 300ms ease-in-out;
  font-family: "Manrope";
  font-size: 16px;
  line-height: 1 !important; }
  .visitior-questionnaire_wrapper.gform_wrapper.gravity-theme input[type='text']:focus, .visitior-questionnaire_wrapper.gform_wrapper.gravity-theme input[type='text']:hover,
  .visitior-questionnaire_wrapper.gform_wrapper.gravity-theme textarea:focus,
  .visitior-questionnaire_wrapper.gform_wrapper.gravity-theme textarea:hover, .visitior-questionnaire_wrapper.gform_wrapper.gravity-theme select:focus, .visitior-questionnaire_wrapper.gform_wrapper.gravity-theme select:hover {
    border-color: #00bdc1; }
.visitior-questionnaire_wrapper.gform_wrapper.gravity-theme input[type='file'] {
  width: auto !important; }
  .visitior-questionnaire_wrapper.gform_wrapper.gravity-theme input[type='file']:focus, .visitior-questionnaire_wrapper.gform_wrapper.gravity-theme input[type='file']:hover {
    border-color: #00bdc1; }
.visitior-questionnaire_wrapper.gform_wrapper.gravity-theme .gfield_validation_message {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  padding-right: 12px !important;
  padding-left: 12px !important;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #c02b0a; }

.visitior-questionnaire .gform_confirmation_message {
  font-size: 20px;
  font-weight: 400; }
  .visitior-questionnaire .gform_confirmation_message .default {
    border: 2px dashed #00bdc1;
    padding: 20px; }
    .visitior-questionnaire .gform_confirmation_message .default h3 {
      color: #00bdc1; }
  .visitior-questionnaire .gform_confirmation_message .access-denied {
    border: 2px dashed #ff3f48;
    padding: 20px; }
    .visitior-questionnaire .gform_confirmation_message .access-denied h3 {
      color: #ff3f48; }
  .visitior-questionnaire .gform_confirmation_message .access-approved {
    border: 2px dashed #00a062;
    padding: 20px; }
    .visitior-questionnaire .gform_confirmation_message .access-approved h3 {
      color: #00a062; }
  .visitior-questionnaire .gform_confirmation_message .proof-required {
    border: 2px dashed #bb0083;
    padding: 20px; }
    .visitior-questionnaire .gform_confirmation_message .proof-required h3 {
      color: #bb0083; }

#header {
  background-color: #30a5a7;
  padding: 40px 0 25px;
  font-size: 14px; }
  #header .ml-neg {
    margin-left: -15px; }
  @media (max-width: 991px) {
    #header {
      padding: 15px 0; } }
  #header .logo {
    display: block;
    max-width: 140px; }
    #header .logo img {
      height: auto; }
  #header .navigation-wrap {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: flex-end;
    column-gap: 50px;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto; }
    @media (max-width: 1439px) {
      #header .navigation-wrap > div:not(.large-dvc-search) {
        margin-top: 20px; } }
    @media (max-width: 991px) {
      #header .navigation-wrap {
        display: none; } }
  #header .mobile-navigation {
    display: none; }
    @media (max-width: 991px) {
      #header .mobile-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap; } }
  #header ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #header ul a {
      color: #fff;
      text-decoration: none; }
      #header ul a:focus, #header ul a:hover {
        outline: none;
        border: 0; }
  #header ul.menu {
    display: flex; }
    #header ul.menu > li > a {
      position: relative;
      padding: 0 15px 25px 0;
      text-transform: uppercase;
      font-weight: 500; }
      #header ul.menu > li > a:after {
        content: "+";
        position: absolute;
        right: 0;
        top: 0; }
    #header ul.menu > li:hover > a {
      color: #0D323E; }
      #header ul.menu > li:hover > a:after {
        content: "-"; }
    #header ul.menu > li:hover ul.sub-menu {
      opacity: 0.95;
      visibility: visible;
      max-height: 1000px; }
    #header ul.menu > li:not(:last-child) {
      margin-right: 45px; }
    #header ul.menu > li > ul.sub-menu {
      display: grid;
      position: absolute;
      left: 0;
      right: 0;
      top: 113px;
      background: #0D323E;
      padding: 30px 0;
      z-index: 100;
      justify-content: center;
      font-weight: 600;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      max-height: 0;
      transition: max-height 300ms linear; }
      @media (max-width: 1439px) {
        #header ul.menu > li > ul.sub-menu {
          top: 133px; } }
      #header ul.menu > li > ul.sub-menu > li > a:hover {
        color: #1fbec3; }
      #header ul.menu > li > ul.sub-menu > li.parent-label {
        text-transform: uppercase; }
        #header ul.menu > li > ul.sub-menu > li.parent-label > a {
          color: #1fbec3;
          font-weight: bold; }
      #header ul.menu > li > ul.sub-menu > li + li {
        margin-top: 15px; }
  #header li.brands-dropdown > ul.sub-menu {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    margin-top: 15px; }
    #header li.brands-dropdown > ul.sub-menu > li {
      text-transform: capitalize; }
      #header li.brands-dropdown > ul.sub-menu > li ul.sub-menu li {
        margin-top: 15px; }
        #header li.brands-dropdown > ul.sub-menu > li ul.sub-menu li a {
          color: #1fbec3;
          margin-top: 15px; }
          #header li.brands-dropdown > ul.sub-menu > li ul.sub-menu li a:hover {
            color: #fff; }
  #header #ham-icon-wrap {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer; }
  #header .ham-icon .lines {
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    transition: all .2s ease-in-out; }
    #header .ham-icon .lines:before, #header .ham-icon .lines:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: #fff;
      border-radius: 5px; }
    #header .ham-icon .lines:before {
      transform: translateY(-10px); }
    #header .ham-icon .lines:after {
      transform: translateY(10px); }
  #header .ham-icon.open .lines {
    transform: translateX(0px);
    background: transparent; }
    #header .ham-icon.open .lines:before {
      transform: rotate(45deg) translate(0); }
    #header .ham-icon.open .lines:after {
      transform: rotate(-45deg) translate(0); }

#overlay-menu {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  background: #0D323E;
  opacity: 0.95;
  font-size: 14px;
  z-index: 100;
  font-weight: 600; }
  @media (min-width: 992px) {
    #overlay-menu {
      display: none !important; } }
  #overlay-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    #overlay-menu ul.menu > li > a {
      color: #1fbec3; }
    #overlay-menu ul a {
      color: #fff; }
  #overlay-menu nav {
    padding: 50px 0; }
    #overlay-menu nav ul.menu > li + li {
      margin-top: 30px; }
    #overlay-menu nav ul.menu > li > *:not(a) {
      display: none; }
    #overlay-menu nav ul.menu > li > a {
      position: relative;
      font-weight: bold;
      text-transform: uppercase;
      display: block; }
      #overlay-menu nav ul.menu > li > a:after {
        content: "\f067";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        right: 0; }
    #overlay-menu nav ul.menu > li.menu-item-has-children.active > a:after {
      content: "\f068"; }
    #overlay-menu nav ul.menu > li.menu-item-has-children li {
      margin-top: 15px;
      display: block; }
    #overlay-menu nav li.brands-dropdown > ul.sub-menu > li ul.sub-menu a {
      color: #1fbec3; }

#footer {
  background-color: #0f313c;
  padding: 50px 0 0;
  font-size: 14px; }
  @media (min-width: 1200px) {
    #footer .container {
      position: relative;
      overflow: hidden; }
      #footer .container:after {
        content: "";
        position: absolute;
        top: 60px;
        right: 70px;
        background-image: url("../images/footer-arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 500px;
        height: 100%;
        transform: scale(1.2); } }
    @media (min-width: 1200px) and (max-width: 991px) {
      #footer .container:after {
        top: 0;
        right: 0;
        transform: scale(1);
        width: 430px; } }

  #footer .logo img {
    max-width: 140px;
    width: 100%;
    height: auto; }
  #footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #footer .wp-block-columns {
    margin-bottom: 0; }
  #footer .acf-social-accounts ul#social {
    margin: 20px 0 0;
    font-size: 24px;
    justify-content: start; }
    #footer .acf-social-accounts ul#social li:not(:last-child) {
      margin-right: 25px; }
    #footer .acf-social-accounts ul#social a {
      color: #1fbec3; }
      #footer .acf-social-accounts ul#social a:hover {
        color: #fff; }
  #footer .navigation-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    font-weight: 600;
    position: relative;
    z-index: 2; }
    @media (min-width: 992px) {
      #footer .navigation-wrap > nav:not(:last-child) {
        margin-right: 50px; } }
    @media (max-width: 991px) {
      #footer .navigation-wrap {
        flex-direction: column;
        padding-bottom: 30px; }
        #footer .navigation-wrap > nav:not(:last-child) {
          margin-bottom: 15px; } }
    #footer .navigation-wrap ul:not(#social) li + li {
      margin-top: 15px; }
    #footer .navigation-wrap ul:not(#social) a {
      color: #1fbec3; }
      #footer .navigation-wrap ul:not(#social) a:hover {
        color: #fff; }
    #footer .navigation-wrap label, #footer .navigation-wrap h2 {
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      position: relative;
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 14px; }
      @media (min-width: 992px) {
        #footer .navigation-wrap label + *, #footer .navigation-wrap h2 + * {
          height: auto !important;
          display: block !important; } }
      @media (max-width: 991px) {
        #footer .navigation-wrap label + *, #footer .navigation-wrap h2 + * {
          display: none; }
        #footer .navigation-wrap label:after, #footer .navigation-wrap h2:after {
          content: "\f067";
          font-family: "Font Awesome 5 Free";
          position: absolute;
          right: 0;
          line-height: 18px; }
        #footer .navigation-wrap label.active:after, #footer .navigation-wrap h2.active:after {
          content: "\f068"; } }
  #footer .bottom {
    padding-bottom: 15px;
    position: relative;
    z-index: 2; }
    #footer .bottom ul {
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      line-height: 24px; }
      #footer .bottom ul li {
        position: relative; }
        #footer .bottom ul li:not(:last-child) {
          margin-right: 17px; }
          #footer .bottom ul li:not(:last-child):before {
            content: "";
            position: absolute;
            right: -9px;
            top: calc(50% - 5px);
            height: 10px;
            width: 1px;
            background-color: #fff; }
        #footer .bottom ul li a {
          color: #fff; }
          #footer .bottom ul li a:hover {
            color: #1fbec3; }
    #footer .bottom p {
      color: #fff;
      font-size: 0.688rem;
      line-height: 24px;
      margin: 0; }

body.no-scroll {
  overflow: hidden; }

#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: none; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms ease-in-out; }

a.button, .button {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  min-width: 158px;
  padding: 10px 28px 10px 20px;
  display: inline-block;
  background-color: transparent;
  color: #0c303c;
  border: 1px solid #0c303c;
  border-radius: 10px;
  position: relative;
  transition: all 300ms ease-in-out; }
  a.button span, .button span {
    margin-left: 3px;
    position: relative; }
    a.button span:after, .button span:after {
      content: "+";
      top: 0;
      position: absolute;
      color: #1fbec3;
      font-weight: normal; }
  a.button:hover, .button:hover {
    color: #00bdc1;
    border-color: #00bdc1; }
    a.button:hover span:after, .button:hover span:after {
      content: "-"; }
  @media (max-width: 479px) {
    a.button, .button {
      padding: 10px 23px 10px 15px;
      font-size: 1rem; } }

.no-margin {
  margin: 0; }

.wp-block-columns.has-background {
  padding: 0; }

.container,
.wp-block-cover__inner-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-right: 25px;
  padding-left: 25px; }

@media screen and (min-width: 992px) {
  .animate__zoom-in {
    overflow: hidden; }
    .animate__zoom-in > * {
      transition: all 300ms ease-in-out; }
      .animate__zoom-in > *:hover {
        transform: scale(1.1); } }

@media screen and (min-width: 992px) {
  .animate__pop-up {
    transition: all 300ms ease-in-out; }
    .animate__pop-up:hover {
      transform: translateY(-30px); } }

@media screen {
  .animate__bottom-to-up {
    transition: transform 300ms linear;
    transform: translateY(150px);
    opacity: 0; } }
.has-padding, .has-padding.has-background {
  padding-top: 80px;
  padding-bottom: 40px;
  margin: 0; }
  .has-padding .wp-block-columns, .has-padding.has-background .wp-block-columns {
    margin-bottom: 0; }
  @media (max-width: 767px) {
    .has-padding, .has-padding.has-background {
      padding-top: 60px;
      padding-bottom: 30px; } }

.has-padding-rev, .has-padding-rev.has-background {
  padding-top: 40px;
  padding-bottom: 80px;
  margin: 0; }
  .has-padding-rev .wp-block-columns, .has-padding-rev.has-background .wp-block-columns {
    margin-bottom: 0; }
  @media (max-width: 767px) {
    .has-padding-rev, .has-padding-rev.has-background {
      padding-top: 30px;
      padding-bottom: 60px; } }

.has-padding-eq, .has-padding-eq.has-background {
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0; }
  .has-padding-eq .wp-block-columns, .has-padding-eq.has-background .wp-block-columns {
    margin-bottom: 0; }
  @media (max-width: 767px) {
    .has-padding-eq, .has-padding-eq.has-background {
      padding-top: 60px;
      padding-bottom: 60px; } }

.has-padding-eq-sm, .has-padding-eq-sm.has-background {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0; }
  .has-padding-eq-sm .wp-block-columns, .has-padding-eq-sm.has-background .wp-block-columns {
    margin-bottom: 0; }
  @media (max-width: 767px) {
    .has-padding-eq-sm, .has-padding-eq-sm.has-background {
      padding-top: 30px;
      padding-bottom: 30px; } }

.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 650px;
  padding: 120px 0 100px;
  position: relative; }
  .banner .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
    @media (min-width: 1200px) {
      .banner .overlay {
        display: none; } }
  .banner .container {
    position: relative; }
  @media (min-width: 1280px) {
    .banner.align-center h1.title {
      margin-left: 4rem; } }
  @media (min-width: 1440px) {
    .banner.align-center h1.title {
      margin-left: 8rem; } }
  @media (max-width: 1199px) {
    .banner {
      min-height: 550px;
      padding: 40px 0;
      display: flex;
      align-items: center; } }
  @media (max-width: 991px) {
    .banner {
      min-height: 400px; } }
  @media (min-width: 1200px) {
    .banner.align-top {
      padding-top: 70px; }
    .banner.align-center {
      display: flex;
      align-items: center; }
      .banner.align-center h1.title {
        line-height: 100px;
        margin-top: 35px; }
    .banner.align-top-center {
      padding-top: 80px; }
      .banner.align-top-center h1.title {
        max-width: 1024px;
        margin: auto; }
    .banner.align-center-right {
      padding: 0;
      display: flex;
      align-items: center; }
      .banner.align-center-right .container {
        max-width: 1240px; }
      .banner.align-center-right h1.title {
        float: right; }
    .banner.align-bottom-right {
      display: flex;
      align-items: flex-end; }
      .banner.align-bottom-right .container {
        max-width: 1366px; }
      .banner.align-bottom-right h1.title {
        float: right; } }
  .banner h1.title {
    margin-bottom: 0; }
    @media (max-width: 1199px) {
      .banner h1.title {
        text-align: center; } }
    @media (min-width: 1570px) {
      .banner h1.title.ml-90 {
        margin-left: 90px; } }
    @media (min-width: 1200px) {
      .banner h1.title .margin-top {
        margin-top: 110px; } }
    @media (min-width: 1200px) {
      .banner h1.title div {
        display: flex;
        margin-top: 60px; }
        .banner h1.title div span:first-child {
          margin-right: 95px; } }
    @media (max-width: 1199px) {
      .banner h1.title div br {
        display: none; } }
    @media (min-width: 768px) {
      .banner h1.title span {
        display: block; } }
    @media (max-width: 1199px) {
      .banner h1.title span br {
        display: none; } }
    .banner h1.title span.lowercase {
      display: block;
      text-transform: initial;
      font-size: 2.875rem;
      line-height: 3.75rem; }
      @media (max-width: 991px) {
        .banner h1.title span.lowercase {
          font-size: 2.25rem;
          line-height: 2.875rem; } }
      @media (max-width: 479px) {
        .banner h1.title span.lowercase {
          font-size: 1.5rem;
          line-height: 2.125rem;
          font-weight: normal; } }
    .banner h1.title span.uppercase {
      display: block;
      text-transform: uppercase;
      font-size: 2.25rem;
      line-height: 3.125rem; }
      @media (max-width: 767px) {
        .banner h1.title span.uppercase {
          font-size: 1.625rem;
          line-height: 2.25rem; } }
      @media (max-width: 479px) {
        .banner h1.title span.uppercase {
          font-size: 1.25rem;
          line-height: 1.875rem; } }

.two-column-layout {
  margin: 0; }
  @media (max-width: 991px) {
    .two-column-layout {
      flex-direction: column; }
      .two-column-layout.flipped {
        flex-direction: column-reverse; } }
  .two-column-layout .wp-block-columns {
    margin-bottom: 0; }
  .two-column-layout .wp-block-image,
  .two-column-layout .wp-block-column {
    margin: 0; }
  .two-column-layout .wp-block-cover {
    height: 100%;
    padding: 0; }
    @media (max-width: 479px) {
      .two-column-layout .wp-block-cover {
        min-height: 300px; } }
    @media (min-width: 1440px) {
      .two-column-layout .wp-block-cover {
        min-height: 660px; } }
  .two-column-layout .inner-content {
    height: 100%;
    min-height: 300px;
    align-items: center;
    padding: 30px; }
    @media (min-width: 480px) {
      .two-column-layout .inner-content {
        min-height: 430px; } }
    @media (min-width: 1440px) {
      .two-column-layout .inner-content {
        min-height: 660px; } }
    .two-column-layout .inner-content > .wp-block-column {
      margin: 0 auto; }
  .two-column-layout .has-background img.wp-block-cover__image-background {
    object-fit: contain; }
  .two-column-layout .four-box-layout img.wp-block-cover__image-background {
    object-fit: cover; }
  .two-column-layout .four-box-layout > .wp-block-columns > .wp-block-column {
    min-width: 50%; }
    @media (max-width: 599px) {
      .two-column-layout .four-box-layout > .wp-block-columns > .wp-block-column {
        flex-basis: auto !important; } }
  .two-column-layout .four-box-layout .wp-block-cover {
    min-height: 215px; }
    @media (max-width: 479px) {
      .two-column-layout .four-box-layout .wp-block-cover {
        min-height: 150px; } }
    @media (min-width: 1440px) {
      .two-column-layout .four-box-layout .wp-block-cover {
        min-height: 330px; } }

.cards-grid-container {
  margin-top: 60px !important;
  display: flex;
  justify-content: center; }
  .cards-grid-container > .wp-block-column {
    margin-left: 0; }
    @media (min-width: 782px) {
      .cards-grid-container > .wp-block-column:not(:last-child) {
        margin-right: 20px; } }
    @media (min-width: 1200px) {
      .cards-grid-container > .wp-block-column:not(:last-child) {
        margin-right: 55px; } }
@media (max-width: 781px) and (min-width: 600px) {
  .cards-grid-container > .wp-block-column:nth-child(odd):not(:last-child) {
    margin-right: 20px; }
  .cards-grid-container > .wp-block-column:nth-child(n+3) {
    margin-top: 20px; } }

    @media (max-width: 599px) {
      .cards-grid-container > .wp-block-column:not(:last-child) {
        margin-bottom: 30px; } }

/*# sourceMappingURL=core.css.map */
