@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-ExtraLight.eot');
    src: url('../fonts/manrope/Manrope-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/manrope/Manrope-ExtraLight.woff2') format('woff2'),
         url('../fonts/manrope/Manrope-ExtraLight.woff') format('woff'),
         url('../fonts/manrope/Manrope-ExtraLight.ttf') format('truetype'),
         url('../fonts/manrope/Manrope-ExtraLight.svg#Manrope-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-Light.eot');
    src: url('../fonts/manrope/Manrope-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/manrope/Manrope-Light.woff2') format('woff2'),
         url('../fonts/manrope/Manrope-Light.woff') format('woff'),
         url('../fonts/manrope/Manrope-Light.ttf') format('truetype'),
         url('../fonts/manrope/Manrope-Light.svg#Manrope-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-Regular.eot');
    src: url('../fonts/manrope/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/manrope/Manrope-Regular.woff2') format('woff2'),
         url('../fonts/manrope/Manrope-Regular.woff') format('woff'),
         url('../fonts/manrope/Manrope-Regular.ttf') format('truetype'),
         url('../fonts/manrope/Manrope-Regular.svg#Manrope-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-Medium.eot');
    src: url('../fonts/manrope/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/manrope/Manrope-Medium.woff2') format('woff2'),
         url('../fonts/manrope/Manrope-Medium.woff') format('woff'),
         url('../fonts/manrope/Manrope-Medium.ttf') format('truetype'),
         url('../fonts/manrope/Manrope-Medium.svg#Manrope-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-SemiBold.eot');
    src: url('../fonts/manrope/Manrope-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/manrope/Manrope-SemiBold.woff2') format('woff2'),
         url('../fonts/manrope/Manrope-SemiBold.woff') format('woff'),
         url('../fonts/manrope/Manrope-SemiBold.ttf') format('truetype'),
         url('../fonts/manrope/Manrope-SemiBold.svg#Manrope-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope/Manrope-Bold.eot');
    src: url('../fonts/manrope/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/manrope/Manrope-Bold.woff2') format('woff2'),
         url('../fonts/manrope/Manrope-Bold.woff') format('woff'),
         url('../fonts/manrope/Manrope-Bold.ttf') format('truetype'),
         url('../fonts/manrope/Manrope-Bold.svg#Manrope-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

